.banner {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(asset-path("cinema.jpeg"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 8px;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.container h2 {
  font-weight: bold;
}

.list-card {
  height: 200px;
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.list-card:hover {
  transform: scale(1.03);
}

.list-card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.movie-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(43, 158, 14, 0.575);
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: bold;
}
